@import '../../variables';

.EmbeddedLink {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
  white-space: nowrap;
}
.EmbeddedLink:hover {
  @include desktop {
    color: #fff;
  }
}
